@import '../../Allcss.css';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    /* height: 20rem; */
}
.skillContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10rem;
}
.title{
    margin-top: 100px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}
.skills{
    width: 100%;
    max-width: 500px;
    background-color: #0e0922;
    border: 0.1px solid var(--color-primary);
    border-radius: 16px;
    padding: 18px 36px;
}
.timeLineSection{
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 12px;
}