@import '../../Allcss.css';

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}
/* p{
    color: var(--text2);
}
span{
    color: var(--text2);
} */
.title{
    color: var(--text1);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.27px;
    text-transform: uppercase;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutItems{
color: var(--text);
display: flex;
flex-direction: column;
gap: 50px;
}

.aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, #1d468c, rgba(255,255,255,0)100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}
img{
    height:50vh;
     width:50%; 
     border-radius:20px;  
     cursor: pointer;
    transition: 0.4s;
}
img:hover{
    filter: brightness(100%) hue-rotate(15deg);
    /* transform: scale(1.04); */
}

.aboutItem:hover{
    background-size: 100% 100%;
}
.aboutItem h3{
    font-size: 25px;
    font-weight: 600;
}
.aboutItem p{
    font-size: 20px;
    color: var(--text2);
}
.aboutItem p span{
    font-size: 17px;
    color: var(--text2);
}
/* .ddd{
    height:'50vh';
    width:'40%';
} */
.sss{
    display: flex;
    gap: 40px;
    align-items: center;
}
.aboutRow{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 830px){
    
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .content{
        flex-direction: column;
    }
    .aboutItems{
        margin-top: 29px;
    }
    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }
    .imgcss{
        display: none;
    }

}