:root {
    /*  color */
   --color-text: #fff;
   --color-primary: #576cbc;
   --color-secondary: #19376d;
   --color-dark: #0b2447;
   --color-bg: #04152d;

      --primary1: #854CE6;
      --background1: #222A35;
      --button: #854CE6;
      --background2: #19212C;
      --text: #C8CFD8;
      --text1: #F2F5F7;
      --text2: #626970;
      --text3: #575C66;
      --footerBackground: #00012B;
      --text3: #3e4148;

   /* font */
   --font-robot: 'Roboto';

   --title: Space Grotesk, sans-serif;
      --main: Space Grotesk, sans-serif;

}